In [21]:
import pandas as pd
import seaborn as sns

In [22]:
df = pd.read_csv("/Users/anna-alexandradanchenko/Documents/University/PF/ICA2/resources/covid-data.csv")

In [23]:
df.rename({"new_cases": "New cases", "new_deaths": "New deaths",
          "location": "Country"}, axis=1, inplace=True)

#### Deleting specific rows with null values 
If the continent is null in our dataset, it means that the country is not valid (for example: "World", "Asia", etc.)

In [24]:
df = df.dropna(axis=0, subset=['continent'])

In [25]:
df["date"] = pd.to_datetime(df["date"])

#### Creating a new variable
Creating a new variable "Month" in which we store month of the year. It will help us with cholopleth graph.

In [26]:
df['Month'] = pd.to_datetime(df['date']).dt.to_period('M')

#### Optimizing dataset by leaving only necessary columns
Defining variable in which we store columns that we need and then leaving only selected columns.

In [27]:
to_leave = ["Country", "New cases", "New deaths", "date", "Month", "continent"]
df = df[to_leave]  # Leaving only selected columns.

 Getting the first 10 entries using head() method. Getting info about the dataset.

In [28]:
print(df.head(10)) 
print(df.info())

       Country  New cases  New deaths       date    Month continent
0  Afghanistan        5.0         NaN 2020-02-24  2020-02      Asia
1  Afghanistan        0.0         NaN 2020-02-25  2020-02      Asia
2  Afghanistan        0.0         NaN 2020-02-26  2020-02      Asia
3  Afghanistan        0.0         NaN 2020-02-27  2020-02      Asia
4  Afghanistan        0.0         NaN 2020-02-28  2020-02      Asia
5  Afghanistan        0.0         NaN 2020-02-29  2020-02      Asia
6  Afghanistan        0.0         NaN 2020-03-01  2020-03      Asia
7  Afghanistan        0.0         NaN 2020-03-02  2020-03      Asia
8  Afghanistan        0.0         NaN 2020-03-03  2020-03      Asia
9  Afghanistan        0.0         NaN 2020-03-04  2020-03      Asia
<class 'pandas.core.frame.DataFrame'>
Int64Index: 224089 entries, 0 to 237476
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Country     224089 non-null  object
 1   New cases   210406 non-null  float64
 2   New deaths  191312 non-null  float64
 3   date        224089 non-null  datetime64[ns]
 4   Month       224089 non-null  period[M]
 5   continent   224089 non-null  object
dtypes: datetime64[ns](1), float64(2), object(2), period[M](1)
memory usage: 12.0+ MB
None